// ==== CONTENT ==== //
// --- Element after Fixed Header --- //
.header-fixed-after { margin-top: $header-height-mobile; }
// --- Element after Sticky Header --- //
.header-sticky-after { margin-top: 0; }
.header-sticky-after.header-stick { margin-top: $header-height-mobile; }

// --- Desktop --- //
@include desktop {

// --- Element after Fixed Header --- //
.header-fixed-after { margin-top: $header-height-desktop; }
// --- Element after Sticky Header --- //
.header-sticky-after.header-stick { margin-top: $header-height-desktop; }

}