// ==== HEADER ==== //
header { position: relative; z-index: 1; width: 100%; float: left; background: $color-dark; height: $header-height-mobile;
	.rw-container { background: none; position: relative; padding: 0;
		.toggler { position: absolute; top: 0; right: 0; height: $header-height-mobile; width: $header-height-mobile; text-align: center; line-height: $header-height-mobile;
			a { color: $color-clear; display: block;
				i {}
			}
		}
		nav { position: absolute; width: 100%; top: $header-height-mobile; display: none;
			ul { padding: 0; margin: 0; background: $color-clear; width: 100%; float: left;
				li { list-style-type: none; float: left; width: 100%;
					a { text-decoration: none; color: $color-dark; line-height: $header-height-mobile; display: block; padding: 0 20px; border-bottom: 1px solid $color-grey-light; }
				}
				li.expanded { position: relative;
					ul { display: block; left: 0; top: $header-height-mobile; height: auto; background: $color-clear; width: 100%;
						li { width: 100%; margin: 0; padding: 6px 0; border-bottom: 1px solid $color-grey-light; background: lighten($color-grey-light, 3%);
							@include boxSize(border-box);
							a { line-height: normal; color: $color-dark; white-space: nowrap; border-bottom: none; padding: 0 30px; }
						}
					}
				}
			}
		}
	}
}
// --- Fixed Header --- //
header.header-fixed { position: fixed; top: 0; }
// --- Sticky Header --- //
header.stick { position: fixed; top: 0; }

// --- Desktop --- //
@include desktop {

header { height: $header-height-desktop;
	.rw-container {
		.toggler { display: none; }
		nav { position: relative; float: right; width: auto; top: auto; display: block;
			ul { background: none; width: auto; float: none;
				li { margin: 0 10px; width: auto;
					a { color: $color-clear; line-height: $header-height-desktop; padding: 0; border-bottom: none;
						&:hover { color: $color-primary; }
					}
				}
				li.expanded { height: $header-height-desktop !important;
					ul { position: absolute; display: none; width: auto; top: $header-height-desktop;
						li { padding: 6px 10px; background: none;
							a { padding: 0;
								&:hover { color: $color-primary; }
							}
						}
					}
					&:hover {
						ul { display: block; }
					}
				}
			}
		}
	}
}

}