// ==== BREAKPOINTS ==== //
@mixin feature {
	@media (min-width: #{$feature-width}) {
		@content;
	}
}
@mixin smart {
	@media (min-width: #{$smart-width}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}
@mixin large {
	@media (min-width: #{$large-width}) {
		@content;
	}
}

// ==== VARIABLES ==== //
$col-1 : calc(8.333333% - #{$gutter});
$col-2 : calc(16.666667% - #{$gutter});
$col-3 : calc(25% - #{$gutter});
$col-4 : calc(33.333333% - #{$gutter});
$col-5 : calc(41.666667% - #{$gutter});
$col-6 : calc(50% - #{$gutter});
$col-7 : calc(58.333333% - #{$gutter});
$col-8 : calc(66.666667% - #{$gutter});
$col-9 : calc(75% - #{$gutter});
$col-10 : calc(83.333333% - #{$gutter});
$col-11 : calc(91.666667% - #{$gutter});
$col-12 : calc(100% - #{$gutter});

// ==== GRID ==== //
.rw-container { position: relative; width: 100%; margin: 0 auto; padding: $page-margin; float: left; clear: left; background: $container-bg;
	@include boxSize(border-box);
	.rw-row { width: 100%; float: left;
		.rw-col { float: left; margin: 0 $col-margin; width: calc(100% - #{$gutter}); }
		.rw-col-nest { padding: 0 $col-margin;
			@include boxSize(border-box);
		}
	}
}
.rw-container-has-sidebar,
.rw-container-has-sidebar-both { padding: 0 !important;
	.rw-content { width: 100%; float: left; background: $content-bg; padding: $page-margin; position: relative;
		@include boxSize(border-box);
	}
	.rw-sidebar { width: 100%; float: left; background: $sidebar-bg; padding: $page-margin; position: relative;
		@include boxSize(border-box);
	}
}

// ==== TEMPORARY ==== //
.rw-header.remove_this { position: relative; z-index: 0;
	.rw-container { background: $color-primary !important;
		.rw-col {
			img { margin: 100px auto; width: 100%; max-width: 400px; height: auto; display: block; }
		}
	}
}

ul.media-query { position: fixed; left: 0px; top: 0px; z-index: 1; list-style: none; margin: 0; padding: 0;
	li { background: rgba(255, 255, 255, 0.5); height: 30px; line-height: 30px; padding: 0 14px; }
	li.media-fea, li.media-sma, li.media-tab, li.media-des, li.media-lar { display: none; }
	@include feature {
		li.default, li.media-sma, li.media-tab, li.media-des, li.media-lar { display: none; }
		li.media-fea { display: block; }
	}
	@include smart {
		li.default, li.media-fea, li.media-tab, li.media-des, li.media-lar { display: none; }
		li.media-sma { display: block; }
	}
	@include tablet {
		li.default, li.media-fea, li.media-sma, li.media-des, li.media-lar { display: none; }
		li.media-tab { display: block; }
	}
	@include desktop {
		li.default, li.media-fea, li.media-sma, li.media-tab, li.media-lar { display: none; }
		li.media-des { display: block; }
	}
	@include large {
		li.default, li.media-fea, li.media-sma, li.media-tab, li.media-des { display: none; }
		li.media-lar { display: block; }
	}
}

.rw-container.remove_this { background: $color-clear; padding: $page-margin; z-index: 0; position: relative;
	.rw-row {
		.rw-col { background: $color-grey-light; text-align: center; height: 30px; line-height: 30px; margin-top: $col-margin; margin-bottom: $col-margin;
			@include rounded(4px, 4px, 4px, 4px);
		}
		.rw-col-nest { padding: $col-margin; height: auto;
			.rw-row {
				.rw-col { background: $color-grey-dark; color: $color-clear; }
			}
		}
		&:nth-child(even) {
			.rw-col { background: $color-grey; }
		}
	}
}
.rw-container-has-sidebar.remove_this, .rw-container-has-sidebar-both.remove_this {
	.rw-row {
		.rw-col { background: $color-primary; color: $color-clear; }
		&:nth-child(even) {
			.rw-col { background: darken($color-primary, 10); }
		}
	}
}

// ======== MEDIA QUERIES ======== //
// --- Feature Phones --- //
@include feature {

// ==== GRID ==== //
.rw-container {
	.rw-row {
		.rw-col-fea-1 { width: $col-1; }
		.rw-col-fea-2 { width: $col-2; }
		.rw-col-fea-3 { width: $col-3; }
		.rw-col-fea-4 { width: $col-4; }
		.rw-col-fea-5 { width: $col-5; }
		.rw-col-fea-6 { width: $col-6; }
		.rw-col-fea-7 { width: $col-7; }
		.rw-col-fea-8 { width: $col-8; }
		.rw-col-fea-9 { width: $col-9; }
		.rw-col-fea-10 { width: $col-10; }
		.rw-col-fea-11 { width: $col-11; }
		.rw-col-fea-12 { width: $col-12; }
	}
}

}

// --- Smart Phones --- //
@include smart {

$value : $smart-width - $gutter * 2;
$left-margin : $value / 2;

// ==== GRID ==== //
.rw-container { width: $value; left: 50%; margin-left: -$left-margin;
	.rw-row {
		.rw-col-sma-1 { width: $col-1; }
		.rw-col-sma-2 { width: $col-2; }
		.rw-col-sma-3 { width: $col-3; }
		.rw-col-sma-4 { width: $col-4; }
		.rw-col-sma-5 { width: $col-5; }
		.rw-col-sma-6 { width: $col-6; }
		.rw-col-sma-7 { width: $col-7; }
		.rw-col-sma-8 { width: $col-8; }
		.rw-col-sma-9 { width: $col-9; }
		.rw-col-sma-10 { width: $col-10; }
		.rw-col-sma-11 { width: $col-11; }
		.rw-col-sma-12 { width: $col-12; }
	}
}
.rw-container-fluid { width: 100% !important; margin-left: -50% !important; }

}

// --- Tablet --- //
@include tablet {

$value : $tablet-width - $gutter * 2;
$left-margin : $value / 2;

// ==== GRID ==== //
.rw-container { width: $value; margin-left: -$left-margin;
	.rw-row {
		.rw-col-tab-1 { width: $col-1; }
		.rw-col-tab-2 { width: $col-2; }
		.rw-col-tab-3 { width: $col-3; }
		.rw-col-tab-4 { width: $col-4; }
		.rw-col-tab-5 { width: $col-5; }
		.rw-col-tab-6 { width: $col-6; }
		.rw-col-tab-7 { width: $col-7; }
		.rw-col-tab-8 { width: $col-8; }
		.rw-col-tab-9 { width: $col-9; }
		.rw-col-tab-10 { width: $col-10; }
		.rw-col-tab-11 { width: $col-11; }
		.rw-col-tab-12 { width: $col-12; }
	}
}
.rw-container-has-sidebar,
.rw-container-has-sidebar-both {	
	.rw-content { width: calc(100% - #{$sidebar-width-small}); }
	.rw-content-left { padding: $page-margin calc(#{$page-margin} / 2) $page-margin $page-margin; }
	.rw-content-right { padding: $page-margin $page-margin $page-margin calc(#{$page-margin} / 2); }
	.rw-content-middle { width: calc(100% - #{$sidebar-width-small} * 2); padding: $page-margin calc(#{$page-margin} / 2) $page-margin $page-margin; }
	.rw-sidebar { width: $sidebar-width-small; }
	.rw-sidebar-left { padding: $page-margin calc(#{$page-margin} / 2) $page-margin $page-margin; }
	.rw-sidebar-right { padding: $page-margin $page-margin $page-margin calc(#{$page-margin} / 2); }
}

}

// --- Desktop --- //
@include desktop {

$value : $desktop-width - $gutter * 2;
$left-margin : $value / 2;

// ==== GRID ==== //
.rw-container { width: $value; margin-left: -$left-margin;
	.rw-row {
		.rw-col-des-1 { width: $col-1; }
		.rw-col-des-2 { width: $col-2; }
		.rw-col-des-3 { width: $col-3; }
		.rw-col-des-4 { width: $col-4; }
		.rw-col-des-5 { width: $col-5; }
		.rw-col-des-6 { width: $col-6; }
		.rw-col-des-7 { width: $col-7; }
		.rw-col-des-8 { width: $col-8; }
		.rw-col-des-9 { width: $col-9; }
		.rw-col-des-10 { width: $col-10; }
		.rw-col-des-11 { width: $col-11; }
		.rw-col-des-12 { width: $col-12; }
	}
}
.rw-container-has-sidebar,
.rw-container-has-sidebar-both {	
	.rw-content { width: calc(100% - #{$sidebar-width}); }
	.rw-content-middle { width: calc(100% - #{$sidebar-width} * 2); }
	.rw-sidebar { width: $sidebar-width; }
}

}

// --- Large Screens --- //
@include large {

$value : $large-width - $gutter * 2;
$left-margin : $value / 2;

// ==== GRID ==== //
.rw-container { width: $value; margin-left: -$left-margin;
	.rw-row {
		.rw-col-lar-1 { width: $col-1; }
		.rw-col-lar-2 { width: $col-2; }
		.rw-col-lar-3 { width: $col-3; }
		.rw-col-lar-4 { width: $col-4; }
		.rw-col-lar-5 { width: $col-5; }
		.rw-col-lar-6 { width: $col-6; }
		.rw-col-lar-7 { width: $col-7; }
		.rw-col-lar-8 { width: $col-8; }
		.rw-col-lar-9 { width: $col-9; }
		.rw-col-lar-10 { width: $col-10; }
		.rw-col-lar-11 { width: $col-11; }
		.rw-col-lar-12 { width: $col-12; }
	}
}
.rw-container-fluid.rw-container-set { margin-left: -$left-margin !important; }
.rw-container-set { width: $value !important; }

}