// BASE VARIABLES //

// ==== COLORS ==== //
// --- Main Colors --- //
$color-primary : #ED2437;
$color-secondary : green;
$color-tertiary : blue;

// --- Greyscale Colors --- //
$color-clear : #FFFFFF;
$color-grey : #d0d0d0;
$color-grey-lighter : lighten($color-grey, 30%);
$color-grey-light : lighten($color-grey, 15%);
$color-grey-dark : darken($color-grey, 15%);
$color-grey-darker : darken($color-grey, 30%);
$color-dark : #000000;

// --- Text Colors --- //
$color-text : $color-dark;
$color-link : $color-primary;

// --- Message Colors --- //
$color-info : #57AACF;
$color-status : #69BC3C;
$color-error : #E04D4D;
$color-warning : #EBB35A;

// ==== BODY ==== //
body { background: $color-primary; }

// ==== GRID ==== //
// --- Container Background --- //
$container-bg : $color-clear;

// --- Page Margin --- //
$page-margin : 20px;

// --- Gutter (horizontal space between columns) --- //
$gutter : 20px;
$col-margin : calc(#{$gutter}/ 2); // DO NOT CHANGE THIS //

// --- Breakpoints --- //
$feature-width : 320px;
$smart-width : 480px;
$tablet-width : 768px;
$desktop-width : 960px;
$large-width : 1200px;

// --- Sidebar --- //
$sidebar-width : 300px;
$sidebar-width-small : 200px;
$content-bg : $color-grey-light;
$sidebar-bg : $color-grey;

// ==== HEADER ==== //
$header-strip-height : 30px;
$header-height-mobile : 110px;
$header-height-desktop : 110px;
$header-and-strip-mobile : $header-height-mobile + $header-strip-height;
$header-and-strip-desktop : $header-height-desktop + $header-strip-height;

// ==== TYPOGRAPHY ==== //
// --- Font Import --- //
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

// --- Main Font --- //
@mixin mainFont($family, $weight, $style : normal) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
}

// --- General Font --- //
body { font-size: 14px; line-height: 1.6em; color: $color-text;
    @include mainFont('Open Sans', 400);
}

// --- Headings --- //
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

// --- Paragraphs --- //
p {}

// --- Other --- //
pre { font-size: 12px; margin: 0; line-height: 1.2em; }