// ==== FONTAWESOME LIST ==== //
ul.icons { list-style: none;
    li { position: relative;
        i { position: absolute; left: -24px; top: 50%; transform: translate(0, -50%); }
    }
};

// ==== ACCORDION ==== //
ul.accordion { list-style: none; margin: 0; padding: 0;
	@include backface;
	li { margin-bottom: 2px;
		div.bar { width: 100%; height: auto; padding: 14px 34px 14px 20px; margin: 0; position: relative; cursor: pointer; line-height: normal; background: $color-grey-dark; color: $color-clear; border: 1px solid $color-grey-dark; font-size: 14px;
			@include boxSize(border-box);
			@include backface;
			span { display: inline; }
			&:after { content: '\f067'; font-family: 'FontAwesome'; position: absolute; right: 20px; top: calc(50% - 5px); height: 16px; color: $color-clear; font-size: 14px; }
		}
		div.itemContents { display: none; width: 100%; padding: 20px;
			@include boxSize(border-box);
			@include backface;
		}
	}
	li.is-expanded {
		div.bar { color: $color-primary; background: $color-clear; border: 1px solid $color-primary;
			&:after { content: '\f068'; color: $color-primary; }
		}
		div.itemContents { display: block; }
	}
}

// ==== TABBER ==== /
ul.tabber { list-style: none; width: 100%; margin: 0; float: left; padding: 0; border-bottom: 1px solid $color-grey;
	@include boxSize(border-box);
	li { float: left; border-top: 1px solid $color-grey; border-right: 1px solid $color-grey; padding: 0 12px; height: 31px; line-height: 31px; background: $color-grey-light;
		&:first-child { border-left: 1px solid $color-grey; }
		&:hover { color: $color-clear; background: $color-grey-dark; cursor: pointer; }
	}
	li.open { color: $color-clear; background: $color-primary; }
}
ul.tabberContent { list-style: none; padding: 0; margin: 0; border: 1px solid $color-grey; border-top: none; float: left;
	li { padding: 12px; float: left; display: none; margin: 0;
		p { margin: 0; }
	}
	li.open { display: block; }
}