// --- Center align elements within parent --- //
.center-hori { position: relative;
	> div,
	> i,
	> a,
	> p,
	> span,
	> img { display: block; margin: 0;
		@include center(true, false);
	}
}
.center-vert { position: relative;
	> div,
	> i,
	> a,
	> p,
	> span,
	> img { display: block; margin: 0;
		@include center(false, true);
	}
}
.center-both { position: relative;
	> div,
	> i,
	> a,
	> p,
	> span,
	> img { display: block; margin: 0;
		@include center(true, true);
	}
}